@font-face {
    font-family: "Helvetica Neue";
    src: url("fonts/HelveticaNeueCyr-Medium.woff2") format('woff2') ;
    font-weight: normal;
    font-style: normal;
}

.my-main-font {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    min-width: 360px;
}

.my-start-flex-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.my-center-flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-spacebetween-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-end-flex-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.my-blue-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #FFFFFF;
    background: #4094EF;
}

.my-blue-btn:hover {
    transform: scale(1.1);
}

.my-blue-btn:active {
    transform: scale(0.9);
    background-color: crimson;
}

.my-blue-btn:focus {
    border: none;
    outline: none;
}

.my-container {
    margin: 0 0;
    padding: 0 0;
    max-width: 100%;
}

.my-row {
    margin: 0;
}

.my-header-container {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    align-content: center;
    text-align: center;
    background-color: white !important;
}

.my-search {
    width: 198px;
    margin: 0 3em;
}

.my-nav-container {
    width: fit-content;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
}

.my-nav {
    width: 191px;
    display: flex;
    justify-content: space-around;
}

.my-nav-collapse {
    width: 191px;
    display: flex;
    justify-content: space-around;
}

.my-nav-toggler {
    margin: 0 .75em !important;
}

.my-nav-toggler:focus {
    box-shadow: none;
}

.my-invisible {
    display: none;
    cursor: pointer;
}

.my-input {
    width: 100%;
    margin: 0 0 !important;
    padding: 3px;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-image: url("img/search.svg");
    background-size: .7em;
    background-position: 25% 55%;
    background-repeat: no-repeat;
    outline: none;
}

.my-input:focus {
    text-align: left;
    background: none;
}

input.placeholder {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8F8F8F;
}

.my-send-box {
    position: relative;
}

.my-red-disc-box {
    position: absolute;
    display: block;
    width: 81.82%;
    top: -35%;
    right: -36.36%;
    object-fit: contain;
}

.my-send-5 {
    position: absolute;
    z-index: 1050;
    margin: 0 auto;
    width: 35%;
    height: auto;
    top: 38%;
    right: 33%
}

.nav-link:hover {
    transform: scale(1.2);
}

.nav-link:active {
    transform: scale(0.9);
}

.my-first-devider-rect {
    margin-left: 1.24%;
    width: 100%;
    height: 1px;
    background: #DBDBDB;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.my-pad-for-circle {
    padding: 15%;
}

.my-row-1 {
    margin: 0;
    padding-top: 5%;
    align-items: center;
}

.my-big-name-holder {
    margin-right: 5%;
}

.my-big-name {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #262626;
}

.my-btns-holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.my-big-btn {
    width: 9em;
    height: 2.5em;
    font-size: 14px;
    line-height: 17px;
}

.my-small-btn {
    width: 2.7em;
    height: 2.16em;
    margin-left: .7em;
}

.my-three-dots {
    margin-left: 1.2em;
}

.my-three-dots-item {
    margin-left: .2em;
}

.my-row-2-3 {
    margin: 0;
    padding-top: 3.5%;
    align-items: center;
}

.my-row-2-item-font {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #262626;
}

.my-row-3-text-font {
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}

.my-right-padding {
    padding-right: 1em;
}

.my-link-color {
    color: #133768;
}

.my-contacts {
    margin-left: 0;
}

.my-circles-holder {
    margin-top: 2em;
    margin-left: 15%;
    display: flex;
    align-items: center;
    gap: 3em;
}

.my-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.my-name-small-circle {
    margin-top: 1em;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #262626;
}

.my-second-devider-rect {
    margin-top: 4em;
    width: 100%;
    height: 1px;
    background: #DBDBDB;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.my-dark-label {
    height: 1.5px;
    background: #262626;
}

.my-labels {
    padding-top: 1.5em;
}

.my-post-holder {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.09em;
    color: #262626;
}

.my-post-holder:focus {
    transform: none;
    text-decoration: none;
}

.my-post-holder:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

.my-post-holder:active {
    transform: scale(0.9);
    color: crimson;
}

.my-tagged {
    color: #8F8F8F;;
}

.my-label-pic {
    align-self: center;
    margin: 0 .4em;
}

.my-square-holder {
    flex-direction: column;
    max-width: 100%;
}

.my-responsive-squares {
    justify-content: center;
}

.my-img-cell {
    width: auto;
    margin: .5em;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 991px) {

    .my-header-container {
        align-items: center;
        padding: 0 5px !important;
        margin-right: 5px;
        gap: 3px;
    }

    .my-nav-toggler {
        margin: .5em .75em !important;
    }

    .my-nav {
        margin-right: 0 !important;
        flex-direction: row;
        justify-content: space-between;
    }

    .my-owner-row {
        flex-direction: column;
        align-items: center;
    }

    .my-pad-for-circle {
        padding: 5%;
    }

    .my-row-1 {
        padding-top: 2%;
    }

    .my-big-name {
        justify-content: center;
    }

    .my-btns-holder {
        justify-content: center;
    }

    .my-contacts {
        --bs-gutter-x: 0;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    .my-circles-holder {
        margin-left: 0;
        justify-content: center;
    }

    .my-post-holder {
        margin-top: .5em;
    }

    .my-img-cell {
        margin: .3em;
    }

    .my-black-square {
        width: auto;
        height: 198px;
    }
}

@media (max-width: 680px) {
    .my-responsive-squares {
        flex-direction: column;
    }
}

@media (max-width: 380px) {
    .my-circles-holder {
        flex-direction: column;
    }
}
